@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url('https://fonts.googleapis.com/css?family=Chela+One');


body{
background-image: url(./fondo.jpg);
background-repeat:    no-repeat;
background-attachment:  fixed;
background-position: center;
background-size: cover;
background-color: #ffffff;

height: 1000px;
}
body{
  background-color: #ffffff;
}

.logo{
	width:100px;
}
.logo-title{
	color: #fff;
font-family: 'Bernadr MT Condensed', sans-serif;
font-weight:400;
letter-spacing: 5px;
text-transform: uppercase;
}
.top-title{
	text-align: absolute;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 150px;
}
.top-title h1{
font-family: 'Chela One', cursive;
}
.menu{
padding: 50px;
padding-top: 200px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
background: #ffffff;
height: 510px;
opacity:1;
position: relative;
z-index: 5;

}

.menu li{
list-style: none;
}
.menu li a{
color: #ffffff;
display: block;
font-family: 'Open Sans', sans-serif;
font-weight:800;
font-size: 25px;
position: relative;
text-transform: uppercase;
}

.myheader{
	height: 200px;
	background-color: #ffffff00;
}
.myheader .menu{
padding: 50px;
padding-top:10px;
height: 130px;
position: fixed;
top: 0;
width: 30%;
}
.myheader .header-left{
position: fixed;
top: 0;
background-color:#ffffff;
width: 60%;
padding: 14px;
height: 130px;
}
.myheader .menu li a{
font-size: 15px;
}
.myheader .top-title{
    position: fixed;
    top: -120px;
    text-align: left;
    left: 30%;
}
.myheader .top-title h1{
  position: relative;
  left: -150px;
	font-size:25px;
}	
.myheader .top-title h6{
  position: relative;
  left: -160px;
	font: size 15px;
}	
.myheader .logo-title{
	font-size: 14px;
	letter-spacing: 2px;
}
.container h2{
color: #ffffff;
text-align: center;
}
.top-title span{
  font-size: 30;
}
/* EFFECTS
***************/

.container {
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 90), 0 0 0.2em #2b06d3;
  color: rgb(252, 252, 252);
  font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

.container h2 {
  text-shadow: 
    0.025em 0.025em 0.025em rgba(189, 98, 98, 0.993),
    0 0 0.5em rgba(4, 4, 185, 0.959);
}

.body {
  opacity: 1;
  filter: alpha(opacity=50);
  zoom: 20;
}
